main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ranking-container {
    margin-left: 100px;
}

#ranking-container h1 {
    color: #fff;
    font-family: Poppins;
    font-size: 57px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    margin: 20px 0 50px 0;
}

#ranking-container > h3 {
    color: #fff;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
}

#ranking-container > p {
    color: var(--primary-01, #ffed3c);
    font-family: Poppins;
    font-size: 57px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    margin: 10px 0 60px 70px;
}

#highlights-of-week > h3 {
    color: #fff;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    margin: 0 0 20px 10px;
}

#highlight-board {
    display: flex;
    padding: 32px 64px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    border: 2px solid #ffed3c;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%),
        rgba(248, 249, 250, 0.2);
    backdrop-filter: blur(5px);
    gap: 20px;
    margin-bottom: 40px;
    width: 90%;
}

#people {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#person-highlight {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#person-highlight .ellipse {
    width: 224px;
    height: 224px;
    fill: #c4c4c4;
}

#person-highlight .name {
    color: #fff;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

#person-highlight .stack {
    color: #fff;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

/* rank design */

#top-ten-board {
    display: inline-flex;
    flex-direction: column;
    padding: 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    border: 2px solid #ffed3c;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%),
        rgba(248, 249, 250, 0.2);
    backdrop-filter: blur(5px);
    margin: 20px 0;
    width: 95%;
}

#top-ten-container h3 {
    color: #fff;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    margin-left: 20px;
}

.person-top-design {
    display: flex;
    align-items: center;
    gap: 20px;
}

.person-top-design .number-rank,
.person-top-design .points-rank {
    color: #fff;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.person-top-design .full-name-rank {
    color: #fff;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

#line {
    width: 100%;
}

hr {
    width: 70%;
    height: 2px;
    background-color: #7a2ee5;
    margin-top: 28px;
    margin-bottom: 10px;
}

/* rank per stack */

#rank-per-stack {
    display: inline-flex;
    flex-direction: column;
    padding: 32px;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    border: 2px solid #ffed3c;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%),
        rgba(248, 249, 250, 0.2);
    backdrop-filter: blur(5px);
    margin: 20px 0;
    width: 90%;
}

#rank-per-stack-container h3 {
    color: #fff;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
}

#rank-per-stack {
    display: flex;
    flex-direction: column;
}

.full-name-rank-per-stack,
.points-rank-per-stack {
    color: #fff;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

/* rank by week */

#rank-top-week-container h3 {
    color: #fff;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    margin-bottom: 10px;
}

#rank-top-week {
    display: inline-flex;
    padding: 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    border: 2px solid #ffed3c;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%),
        rgba(248, 249, 250, 0.2);
    backdrop-filter: blur(5px);
    flex-direction: column;
    width: 90%;
}

.person-top-week {
    display: inline-flex;
    align-items: center;
    gap: 20px;
}

.full-name-rank-week {
    color: #fff;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.number-rank-week,
.points-rank-week {
    color: #fff;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

#ranks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 90px;
    margin: 20px 50px 100px 0;
}
