main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ranking-container h1 {
    color: #fff;
    font-family: Poppins;
    font-size: 57px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    margin: 20px 0 50px 0;
}

#ranking-container > h3 {
    color: #fff;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
}

#ranking-container > p {
    color: var(--primary-01, #ffed3c);
    font-family: Poppins;
    font-size: 57px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    margin: 10px 0 60px 70px;
}

/* highlight of the week */

#highlights-of-week > h3 {
    color: #fff;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    margin: 0 0 20px 10px;
}

#highlight-board {
    display: flex;
    padding: 32px 64px;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    backdrop-filter: blur(5px);
    margin-bottom: 40px;
    width: 90%;
    background: linear-gradient(#27292b, #4b4e51) padding-box,
        linear-gradient(to right, #ffed3c, #ffdbff33, #8d11a6) border-box;
    border-radius: 20px;
    border: 2px solid transparent;
}

#people {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#highlight-board .list-item-user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#highlight-board .list-item-user__image {
    width: 224px;
    height: 224px;
    fill: #c4c4c4;
}

#highlight-board .list-item-user__name {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;

    max-width: 200px;
    overflow: hidden;
    text-wrap: nowrap;
}

#highlight-board .list-item-user__stack {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

/* rank design */

#top-ten-board {
    display: inline-flex;
    flex-direction: column;
    padding: 32px;
    align-items: flex-start;
    gap: 10px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%),
        rgba(248, 249, 250, 0.2);
    backdrop-filter: blur(5px);
    margin: 20px 0;
    width: 80%;
    background: linear-gradient(#27292b, #4b4e51) padding-box,
        linear-gradient(to right, #ffed3c, #ffdbff33, #8d11a6) border-box;
    border-radius: 20px;
    border: 2px solid transparent;
    justify-content: space-evenly;
}

#top-ten-container h3 {
    color: #fff;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    margin-left: 20px;
}

#top-ten-board .list-item-user {
    display: flex;
    align-items: center;
    gap: 20px;
}

#line-ranking {
    width: 100%;
}

#line-ranking hr {
    width: 70%;
    height: 2px;
    background-color: #7a2ee5;
    margin-top: 28px;
    margin-bottom: 10px;
}

/* rank per stack */

#rank-per-stack {
    display: inline-flex;
    flex-direction: column;
    padding: 32px;
    align-items: flex-start;
    gap: 10px;
    backdrop-filter: blur(5px);
    margin: 20px 0;
    width: 90%;
    background: linear-gradient(#27292b, #4b4e51) padding-box,
        linear-gradient(to right, #ffed3c, #ffdbff33, #8d11a6) border-box;
    border-radius: 20px;
    border: 2px solid transparent;
}

#rank-per-stack-container h3 {
    color: #fff;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
}

#rank-per-stack .list-item-user {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

/* rank by week */

#rank-top-week-container h3 {
    color: #fff;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    margin-bottom: 10px;
}

#rank-top-week {
    display: inline-flex;
    padding: 32px;
    align-items: flex-start;
    gap: 10px;
    backdrop-filter: blur(5px);
    flex-direction: column;
    width: 90%;
    background: linear-gradient(#27292b, #4b4e51) padding-box,
        linear-gradient(to right, #ffed3c, #ffdbff33, #8d11a6) border-box;
    border-radius: 20px;
    border: 2px solid transparent;
}

#rank-top-week .list-item-user {
    display: inline-flex;
    align-items: center;
    gap: 20px;
}

#ranks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0 100px 80px;
}
