main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#highlights-of-week-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
}

#highlights-of-week-container h1 {
    color: #fff;
    font-family: Poppins;
    font-size: 57px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    margin: 20px 0 50px 0;
}

#highlights-of-week > h3 {
    color: #fff;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
}

#highlights-of-week-container > p {
    color: var(--primary-01, #ffed3c);
    font-family: Poppins;
    font-size: 57px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    margin: 10px 0 60px 70px;
}

/* highlight of the week */

#highlights-of-week-container > h3 {
    color: #fff;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    margin: 0 0 20px 10px;
}

#people {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* top ten */

#top-ten-container {
    width: 100%;
}

#top-ten-container h3 {
    color: #fff;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    margin-left: 20px;
}

#line-ranking {
    width: 100%;
}

#line-ranking hr {
    width: 70%;
    height: 2px;
    background-color: #7a2ee5;
    margin-top: 28px;
    margin-bottom: 10px;
}

/* rank per stack */

#rank-per-stack-container {
    width: 100%;
}

#rank-per-stack-container h3 {
    color: #fff;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
}

/* rank by week */

#rank-top-week-container {
    width: 100%;
}

#rank-top-week-container h3 {
    color: #fff;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    margin-bottom: 10px;
}

/* ranks container */

#ranks-container {
    width: 60%;
    margin-bottom: 10%;
}

#ranks {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: start;
    width: 100%;
}

#ranks-stack-and-week-container {
    width: 100%;
}

.list-item-user__rank {
    max-width: 30px;
}

@media (max-width: 1660px) {
    #ranks-container {
        width: 80%;
    }
}

@media (max-width: 1240px) {
    #ranks-container {
        width: 90%;
    }
}

@media (max-width: 1080px) {
    #ranks-container {
        width: 100%;
    }
}

@media (max-width: 725px) {
    #highlights-of-week {
        width: 70%;
    }

    #ranks {
        display: grid;
        grid-template-columns: 100%;
        width: 90%;
    }
}
