* {
    list-style: none;
}

footer {
    display: flex;
    justify-content: center;
    background: #343a40;
    width: 100%;
    height: 100%;
}

#footer-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    width: 100%;
}

#future-knowledge-logo-footer {
    width: 80%;
    height: 60%;
}

#info-site {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

#info-site-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#info-site p {
    padding: 10px 16px;
}

#info-site #info-site-links p {
    color: var(--neutral-01, #f8f9fa);
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.055px;
    text-decoration-line: underline;
}

#future-experience,
#student-dashboard {
    padding: 30px 0px 0 0;
}

#future-experience ul,
#student-dashboard ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#future-experience h4,
#student-dashboard h4,
#social-media h4 {
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.024px;
}

#future-experience li,
#student-dashboard li {
    color: var(--neutral-01, #f8f9fa);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.024px;
    text-decoration-line: underline;
    display: inline-flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 0 30px;
}

#social-media img {
    width: 24px;
    height: 24px;
    padding: 10px;
}

.ranking-text-footer {
    color: #fff;
}

.ranking-text-footer:hover {
    color: black;
}

@media (max-width: 575px) {
    #footer-container {
        grid-template-columns: none;
        justify-items: start;
    }

    #social-media {
        padding: 30px 0 0 0;
    }
}
