#highlight-board {
    display: flex;
    padding: 32px 64px;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    backdrop-filter: blur(5px);
    background: linear-gradient(#27292b, #4b4e51) padding-box,
        linear-gradient(to right, #ffed3c, #ffdbff33, #8d11a6) border-box;
    border-radius: 20px;
    border: 2px solid transparent;
    margin: 36px;
}

#highlight-board .list-item-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

#highlight-board .list-item-user__image {
    width: 70%;
    height: 90%;
    fill: #c4c4c4;
}

#highlight-board .list-item-user__name {
    font-size: 200%;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;

    max-width: 200px;
    overflow: hidden;
    text-wrap: nowrap;
}

#highlight-board .list-item-user__stack {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

@media (max-width: 725px) {
    #highlight-board {
        display: grid;
        grid-template-columns: 2fr 2fr;
        width: 90%;
    }

    #highlight-board .list-item-user {
        width: 100%;
    }
}

@media (max-width: 970px) {
    #highlight-board {
        margin: 0;
    }

    #highlight-board .list-item-user__name {
        font-size: 150%;
    }
    #highlight-board .list-item-user__stack {
        font-size: 120%;
    }
}

@media (max-width: 840px) {
    #highlight-board .list-item-user__name {
        font-size: 120%;
    }
    #highlight-board .list-item-user__stack {
        font-size: 90%;
    }
}

@media (max-width: 540px) {
    #highlight-board {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin-left: 1%;
    }

    #highlight-board .list-item-user__name {
        font-size: 200%;
    }
    #highlight-board .list-item-user__stack {
        font-size: 200%;
    }
}
